= link_to [feed, :entries], class: 'thumbnail pull-left text-center entry-thumb' do
  %h4= feed
    
  %p
    - unless feed.preview.highlight.nil?
      %i.fa.fa-star.highlight{ title: feed.preview.highlight, data: { behavior: 'tooltip' } }
    
    = feed.preview

  = image_tag feed.preview.preview.thumb('200x200#').url, size: '200x200'
