- unless entries.empty?
  #slideshow-carousel.carousel.slide{ data: { ride: 'carousel' } }
    %ol.carousel-indicators
      - entries.count.times do |i|
        %li{ class: (i==0 ? 'active' : ''), data: { target: '#slideshow-carousel', slide_to: i } }
    .carousel-inner
      - entries.each do |entry|
        .item{ class: (entries.first == entry ? 'active' : '') }
          = image_tag entry.image.thumb('1020x500#').url, alt: entry.title
          .carousel-caption
            %h3
              = entry.feed.title
              - if entry.highlight.present?
                %i.fa.fa-star.highlight{ title: entry.highlight.description, data: { behavior: 'tooltip' } }
                
            %p= entry.event_at
    %a.left.carousel-control{ href: '#slideshow-carousel', role: "button", data: { slide: "prev" } }
      %span.glyphicon.glyphicon-chevron-left
    %a.right.carousel-control{ href: '#slideshow-carousel', role: "button", data: { slide: "next" } }
      %span.glyphicon.glyphicon-chevron-right
  