.row-fluid
  .col-lg-3.col-md-3.col-sm-4
    #calendar.panel.panel-default
      .panel-heading 
        Pick a date
      %div{ data: { behavior: 'calendar', date: @calendar_date, click: 'reload-entries' } }
  .col-lg-9.col-md-9.col-sm-8
    %h2= @feed
    - if @entries.count == 0
      %h1.text-center No entries found for this date
    - @entries.each do |entry|
      = render entry